In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("data/cardekho_dataset.csv", index_col=[0])

In [4]:
df.head(2)

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.7,796,46.3,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.9,1197,82.0,5,550000

In [5]:
df.shape

(15411, 13)

In [6]:
df.dtypes

car_name              object
brand                 object
model                 object
vehicle_age            int64
km_driven              int64
seller_type           object
fuel_type             object
transmission_type     object
mileage              float64
engine                 int64
max_power            float64
seats                  int64
selling_price          int64
dtype: object

In [7]:
df.isnull().sum()

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [8]:
## Remove Unnecessary Columns
df.drop('model', axis=1, inplace=True)
df.drop('brand', axis=1, inplace=True)

In [9]:
df.head(2)

,car_name,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,9,120000,Individual,Petrol,Manual,19.7,796,46.3,5,120000
1,Hyundai Grand,5,20000,Individual,Petrol,Manual,18.9,1197,82.0,5,550000

In [10]:
df['car_name'].unique()

array(['Maruti Alto', 'Hyundai Grand', 'Hyundai i20', 'Ford Ecosport',
       'Maruti Wagon R', 'Hyundai i10', 'Hyundai Venue', 'Maruti Swift',
       'Hyundai Verna', 'Renault Duster', 'Mini Cooper', 'Maruti Ciaz',
       'Mercedes-Benz C-Class', 'Toyota Innova', 'Maruti Baleno',
       'Maruti Swift Dzire', 'Volkswagen Vento', 'Hyundai Creta',
       'Honda City', 'Mahindra Bolero', 'Toyota Fortuner', 'Renault KWID',
       'Honda Amaze', 'Hyundai Santro', 'Mahindra XUV500',
       'Mahindra KUV100', 'Maruti Ignis', 'Datsun RediGO',
       'Mahindra Scorpio', 'Mahindra Marazzo', 'Ford Aspire', 'Ford Figo',
       'Maruti Vitara', 'Tata Tiago', 'Volkswagen Polo', 'Kia Seltos',
       'Maruti Celerio', 'Datsun GO', 'BMW 5', 'Honda CR-V',
       'Ford Endeavour', 'Mahindra KUV', 'Honda Jazz', 'BMW 3', 'Audi A4',
       'Tata Tigor', 'Maruti Ertiga', 'Tata Safari', 'Mahindra Thar',
       'Tata Hexa', 'Land Rover Rover', 'Maruti Eeco', 'Audi A6',
       'Mercedes-Benz E-Class', 'Audi Q7', 'BMW Z4', 'BMW 6', 'Jaguar XF',
       'BMW X5', 'MG Hector', 'Honda Civic', 'Isuzu D-Max',
       'Porsche Cayenne', 'BMW X1', 'Skoda Rapid', 'Ford Freestyle',
       'Skoda Superb', 'Tata Nexon', 'Mahindra XUV300',
       'Maruti Dzire VXI', 'Volvo S90', 'Honda WR-V', 'Maruti XL6',
       'Renault Triber', 'Lexus ES', 'Jeep Wrangler', 'Toyota Camry',
       'Hyundai Elantra', 'Toyota Yaris', 'Mercedes-Benz GL-Class',
       'BMW 7', 'Maruti S-Presso', 'Maruti Dzire LXI', 'Hyundai Aura',
       'Volvo XC', 'Maserati Ghibli', 'Bentley Continental', 'Honda CR',
       'Nissan Kicks', 'Mercedes-Benz S-Class', 'Hyundai Tucson',
       'Tata Harrier', 'BMW X3', 'Skoda Octavia', 'Jeep Compass',
       'Mercedes-Benz CLS', 'Datsun redi-GO', 'Toyota Glanza',
       'Porsche Macan', 'BMW X4', 'Maruti Dzire ZXI', 'Volvo XC90',
       'Jaguar F-PACE', 'Audi A8', 'ISUZU MUX', 'Ferrari GTC4Lusso',
       'Mercedes-Benz GLS', 'Nissan X-Trail', 'Jaguar XE', 'Volvo XC60',
       'Porsche Panamera', 'Mahindra Alturas', 'Tata Altroz', 'Lexus NX',
       'Kia Carnival', 'Mercedes-AMG C', 'Lexus RX', 'Rolls-Royce Ghost',
       'Maserati Quattroporte', 'Isuzu MUX', 'Force Gurkha'], dtype=object)

In [11]:
len(df['car_name'].unique())

121

In [12]:
df['car_name'].value_counts()

car_name
Hyundai i20              906
Maruti Swift Dzire       890
Maruti Swift             781
Maruti Alto              778
Honda City               757
                        ...
Mercedes-AMG C             1
Rolls-Royce Ghost          1
Maserati Quattroporte      1
Isuzu MUX                  1
Force Gurkha               1
Name: count, Length: 121, dtype: int64

In [13]:
# Create a copy of the series
car_counts = df['car_name'].value_counts()

In [17]:
pd.set_option('display.max_rows', None)
print(car_counts)

car_name
Hyundai i20               906
Maruti Swift Dzire        890
Maruti Swift              781
Maruti Alto               778
Honda City                757
Maruti Wagon R            717
Hyundai Grand             580
Toyota Innova             545
Hyundai Verna             492
Hyundai i10               410
Ford Ecosport             374
Volkswagen Polo           373
Maruti Baleno             364
Honda Amaze               362
Maruti Ciaz               346
Maruti Ertiga             343
Hyundai Creta             336
Mahindra XUV500           330
Renault KWID              306
Maruti Vitara             295
Mahindra Scorpio          273
Ford Figo                 271
Volkswagen Vento          247
Maruti Celerio            237
Renault Duster            218
Mahindra Bolero           211
Toyota Fortuner           187
Skoda Rapid               182
Honda Jazz                175
BMW 3                     152
Tata Tiago                145
Hyundai Santro            139
Mercedes-Benz E-Class     125
Maruti Eeco               125
Mercedes-Benz C-Class     118
BMW 5                     118
Honda WR-V                101
Tata Safari               100
Audi A4                    99
Skoda Superb               93
Datsun GO                  85
Tata Nexon                 85
Datsun RediGO              75
Maruti Ignis               73
Mahindra KUV               66
Ford Aspire                65
Audi A6                    64
Mahindra Thar              62
Honda Civic                59
Skoda Octavia              59
Hyundai Venue              58
BMW X1                     54
Jaguar XF                  52
Land Rover Rover           51
Hyundai Elantra            50
Ford Endeavour             47
Tata Hexa                  41
Jeep Compass               39
Tata Tigor                 37
BMW 7                      37
Mercedes-Benz S-Class      37
Mercedes-Benz GL-Class     36
Toyota Camry               36
Ford Freestyle             33
Honda CR-V                 28
Kia Seltos                 28
Mahindra KUV100            27
BMW X5                     25
Mahindra Marazzo           24
BMW X3                     23
Audi Q7                    23
Tata Harrier               21
MG Hector                  19
BMW 6                      18
Mini Cooper                17
Toyota Yaris               17
Maruti Dzire VXI           17
Porsche Cayenne            16
Mahindra XUV300            15
Maruti S-Presso            13
Mercedes-Benz GLS          12
Renault Triber             12
Hyundai Tucson             10
Datsun redi-GO             10
Mercedes-Benz CLS           9
Toyota Glanza               8
Nissan Kicks                8
Maruti XL6                  7
Volvo XC                    7
Isuzu D-Max                 7
BMW Z4                      6
Audi A8                     6
BMW X4                      6
Lexus ES                    6
Volvo XC60                  5
Volvo S90                   4
Jaguar XE                   4
Kia Carnival                4
Maruti Dzire ZXI            4
Volvo XC90                  4
Mahindra Alturas            3
Bentley Continental         3
Honda CR                    3
Jaguar F-PACE               3
Porsche Panamera            3
Nissan X-Trail              3
Porsche Macan               2
Maruti Dzire LXI            2
Jeep Wrangler               2
Lexus RX                    2
Lexus NX                    2
ISUZU MUX                   2
Hyundai Aura                1
Maserati Ghibli             1
Ferrari GTC4Lusso           1
Tata Altroz                 1
Mercedes-AMG C              1
Rolls-Royce Ghost           1
Maserati Quattroporte       1
Isuzu MUX                   1
Force Gurkha                1
Name: count, dtype: int64

In [18]:
df['car_name'] = np.where(df['car_name'].map(car_counts) < 10, 'Others', df['car_name'])
print(df['car_name'].value_counts())

car_name
Hyundai i20               906
Maruti Swift Dzire        890
Maruti Swift              781
Maruti Alto               778
Honda City                757
Maruti Wagon R            717
Hyundai Grand             580
Toyota Innova             545
Hyundai Verna             492
Hyundai i10               410
Ford Ecosport             374
Volkswagen Polo           373
Maruti Baleno             364
Honda Amaze               362
Maruti Ciaz               346
Maruti Ertiga             343
Hyundai Creta             336
Mahindra XUV500           330
Renault KWID              306
Maruti Vitara             295
Mahindra Scorpio          273
Ford Figo                 271
Volkswagen Vento          247
Maruti Celerio            237
Renault Duster            218
Mahindra Bolero           211
Toyota Fortuner           187
Skoda Rapid               182
Honda Jazz                175
BMW 3                     152
Tata Tiago                145
Hyundai Santro            139
Others                    134
Mercedes-Benz E-Class     125
Maruti Eeco               125
Mercedes-Benz C-Class     118
BMW 5                     118
Honda WR-V                101
Tata Safari               100
Audi A4                    99
Skoda Superb               93
Tata Nexon                 85
Datsun GO                  85
Datsun RediGO              75
Maruti Ignis               73
Mahindra KUV               66
Ford Aspire                65
Audi A6                    64
Mahindra Thar              62
Honda Civic                59
Skoda Octavia              59
Hyundai Venue              58
BMW X1                     54
Jaguar XF                  52
Land Rover Rover           51
Hyundai Elantra            50
Ford Endeavour             47
Tata Hexa                  41
Jeep Compass               39
Mercedes-Benz S-Class      37
Tata Tigor                 37
BMW 7                      37
Toyota Camry               36
Mercedes-Benz GL-Class     36
Ford Freestyle             33
Honda CR-V                 28
Kia Seltos                 28
Mahindra KUV100            27
BMW X5                     25
Mahindra Marazzo           24
BMW X3                     23
Audi Q7                    23
Tata Harrier               21
MG Hector                  19
BMW 6                      18
Mini Cooper                17
Maruti Dzire VXI           17
Toyota Yaris               17
Porsche Cayenne            16
Mahindra XUV300            15
Maruti S-Presso            13
Renault Triber             12
Mercedes-Benz GLS          12
Hyundai Tucson             10
Datsun redi-GO             10
Name: count, dtype: int64

In [22]:
from sklearn.model_selection import train_test_split
X = df.drop(['selling_price'], axis=1)
y = df['selling_price']

In [23]:
# separate dataset into train and test
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)
X_train.shape, X_test.shape

((12328, 10), (3083, 10))

In [24]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
X_train['car_name']=le.fit_transform(X_train['car_name'])

In [25]:
X_test['car_name']=le.transform(X_test['car_name'])

In [26]:
len(df['seller_type'].unique()),len(df['fuel_type'].unique()),len(df['transmission_type'].unique())

(3, 5, 2)

In [27]:
# Create Column Transformer with 3 types of transformers
num_features = X.select_dtypes(exclude="object").columns
onehot_columns = ['seller_type','fuel_type','transmission_type']

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder(drop='first')

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", oh_transformer, onehot_columns),
        ("StandardScaler", numeric_transformer, num_features)
        
    ],remainder='passthrough'
    
)

In [28]:
## applying Trnsformation in training(fit_transform)
X_train=preprocessor.fit_transform(X_train)

In [29]:
## apply tansformation on test(transform)
X_test=preprocessor.transform(X_test)

In [30]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [31]:
##Create a Function to Evaluate Model
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [32]:
## Beginning Model Training
models = {
    "Linear Regression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
   
}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train) # Train model

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    
    # Evaluate Train and Test dataset
    model_train_mae , model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)

    model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

    
    print(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    
    print('='*35)
    print('\n')

Linear Regression
Model performance for Training set
- Root Mean Squared Error: 553632.7410
- Mean Absolute Error: 266075.0012
- R2 Score: 0.6221
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 501531.1900
- Mean Absolute Error: 276793.0690
- R2 Score: 0.6659
===================================


Lasso
Model performance for Training set
- Root Mean Squared Error: 553632.7454
- Mean Absolute Error: 266072.9124
- R2 Score: 0.6221
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 501530.3830
- Mean Absolute Error: 276789.4489
- R2 Score: 0.6659
===================================


Ridge
Model performance for Training set
- Root Mean Squared Error: 553633.4922
- Mean Absolute Error: 266036.4605
- R2 Score: 0.6221
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 501522.5896
- Mean Absolute Error: 276732.2987
- R2 Score: 0.6659
===================================


K-Neighbors Regressor
Model performance for Training set
- Root Mean Squared Error: 323779.7906
- Mean Absolute Error: 87583.9877
- R2 Score: 0.8707
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 253971.5215
- Mean Absolute Error: 106569.5508
- R2 Score: 0.9143
===================================


Decision Tree
Model performance for Training set
- Root Mean Squared Error: 20797.2352
- Mean Absolute Error: 5164.8199
- R2 Score: 0.9995
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 306467.3240
- Mean Absolute Error: 124902.6570
- R2 Score: 0.8752
===================================


Random Forest Regressor
Model performance for Training set
- Root Mean Squared Error: 128073.1392
- Mean Absolute Error: 40100.4455
- R2 Score: 0.9798
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 220168.3062
- Mean Absolute Error: 100613.3513
- R2 Score: 0.9356
===================================

In [33]:
#Initialize few parameter for Hyperparamter tuning
knn_params = {"n_neighbors": [2, 3, 10, 20, 40, 50]}
rf_params = {"max_depth": [5, 8, 15, None, 10],
             "max_features": [5, 7, "auto", 8],
             "min_samples_split": [2, 8, 15, 20],
             "n_estimators": [100, 200, 500, 1000]}

In [34]:
# Models list for Hyperparameter tuning
randomcv_models = [('KNN', KNeighborsRegressor(), knn_params),
                   ("RF", RandomForestRegressor(), rf_params)
                   
                   ]

In [36]:
##Hyperparameter Tuning
from sklearn.model_selection import RandomizedSearchCV

model_param = {}
for name, model, params in randomcv_models:
    random = RandomizedSearchCV(estimator=model,
                                   param_distributions=params,
                                   n_iter=100,
                                   cv=3,
                                   verbose=2,
                                   n_jobs=-1)
    random.fit(X_train, y_train)
    model_param[name] = [random.best_params_, random.best_score_]

for model_name in model_param:
    print(f"---------------- Best Params for {model_name} -------------------")
    print(model_param[model_name])

C:\Users\nage\develop\random forest\env\Lib\site-packages\sklearn\model_selection\_search.py:320: UserWarning: The total space of parameters 6 is smaller than n_iter=100. Running 6 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

Fitting 3 folds for each of 6 candidates, totalling 18 fits
Fitting 3 folds for each of 100 candidates, totalling 300 fits

C:\Users\nage\develop\random forest\env\Lib\site-packages\sklearn\model_selection\_validation.py:540: FitFailedWarning:
69 fits failed out of a total of 300.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
34 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\nage\develop\random forest\env\Lib\site-packages\sklearn\model_selection\_validation.py", line 888, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\nage\develop\random forest\env\Lib\site-packages\sklearn\base.py", line 1466, in wrapper
    estimator._validate_params()
  File "C:\Users\nage\develop\random forest\env\Lib\site-packages\sklearn\base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\nage\develop\random forest\env\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
35 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\nage\develop\random forest\env\Lib\site-packages\sklearn\model_selection\_validation.py", line 888, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\nage\develop\random forest\env\Lib\site-packages\sklearn\base.py", line 1466, in wrapper
    estimator._validate_params()
  File "C:\Users\nage\develop\random forest\env\Lib\site-packages\sklearn\base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\nage\develop\random forest\env\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\nage\develop\random forest\env\Lib\site-packages\sklearn\model_selection\_search.py:1103: UserWarning: One or more of the test scores are non-finite: [       nan 0.85513027 0.84843954 0.83537741 0.83118184 0.83700162
 0.85090264        nan 0.84573005        nan 0.78712581 0.82819915
 0.83122974 0.84310648 0.84345977 0.84504493 0.8325023  0.85434602
 0.82182766 0.83942738 0.83031263 0.84149347 0.83366839 0.83013632
 0.84126974 0.83956601 0.79741326        nan 0.84764384 0.7932419
 0.82461685 0.84761786 0.85413389        nan        nan 0.79419079
 0.78056025        nan        nan 0.82650179        nan 0.83292145
 0.83413771 0.78613811 0.83150981        nan 0.83046995 0.83894698
 0.84397553 0.85962147 0.84514326 0.76911836        nan 0.84232676
 0.8485486  0.84811632 0.79301427 0.77821328        nan 0.85846826
 0.83890078        nan 0.84634535        nan 0.83184049 0.84697004
 0.79160785 0.83912947 0.84408612 0.86251841        nan 0.85641175
 0.84211794 0.85873959        nan 0.83996864 0.84173543        nan
 0.83852596        nan 0.79672392        nan 0.85848663 0.84687115
        nan 0.83319454 0.82679849 0.83922025 0.82902399 0.82533248
        nan 0.79917214        nan 0.84971428 0.78668969 0.76786547
 0.84076591 0.83941366        nan 0.8478974 ]
  warnings.warn(

---------------- Best Params for KNN -------------------
[{'n_neighbors': 3}, np.float64(0.7932659368272382)]
---------------- Best Params for RF -------------------
[{'n_estimators': 100, 'min_samples_split': 2, 'max_features': 8, 'max_depth': 10}, np.float64(0.8625184074715472)]

In [39]:
model = RandomForestRegressor(n_estimators= 100, min_samples_split= 2, max_features= 8, max_depth= 10)

model.fit(X_train, y_train) # Train model

# Make predictions
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

model_train_mae , model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)

model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

print(list(models.keys())[i])

print('Model performance for Training set')
print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
print("- R2 Score: {:.4f}".format(model_train_r2))

print('----------------------------------')

print('Model performance for Test set')
print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
print("- R2 Score: {:.4f}".format(model_test_r2))

print('='*35)
print('\n')

Random Forest Regressor
Model performance for Training set
- Root Mean Squared Error: 167505.6539
- Mean Absolute Error: 84528.4216
- R2 Score: 0.9654
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 221413.1393
- Mean Absolute Error: 106554.4595
- R2 Score: 0.9349
===================================

In [41]:
import pickle

In [42]:
# Save the ColumnTransformer to a pickle file
with open('preprocessor.pkl', 'wb') as file:
    pickle.dump(preprocessor, file)

In [43]:
# Save the ColumnTransformer to a pickle file
with open('label_encoder.pkl', 'wb') as file:
    pickle.dump(le, file)

In [44]:
# Save the ColumnTransformer to a pickle file
with open('model.pkl', 'wb') as file:
    pickle.dump(model, file)